header[role="banner"] {	
	padding: 0 0 66px 0;
}

#elevator_pitch {
	header {
		h1 {
			em {
				font-style: normal;
			}
		}
	}
}

#pricing {
	li {
		p.button {
			a {
				filter: progid:DXImageTransform.Microsoft.Shadow(Color=#007d9b, Strength=5, Direction=180) !important;
				background: #333 url(../img/ie7_arrow.png) no-repeat 310px center !important;
				&:hover {
					filter: progid:DXImageTransform.Microsoft.Shadow(Color=#007d9b, Strength=3, Direction=180) !important;
				}
			}
		}
		&#standard_turtle {
			p.button {
				a {
					background: #2257A6 url(../img/ie7_arrow_down.png) no-repeat 300px center !important;
				}
			}
		}
	}
}

#contact_form {
	> p {
		border: 0;
		&.to_top_link {
			a {
				background: #2257A6 url(../img/to_top_1.gif) no-repeat 85% center;
			}
		}
	}
	form {
		border: 0;
		border: 0;
		.sbHolder {
			z-index: 500;
		}
		.sbSelector {
			width: 90.7%;
			background: #fff url(../img/form_background.jpg) repeat-x;
			line-height: 35px;
			height: 35px;
		}
		.sbToggle {
			height: 36px;
			width: 25px;
			background: #0578BD url(../img/ie7_arrow_down.png) no-repeat 13px center !important;
			&.sbToggleOpen {
				background: #0578BD url(../img/ie7_arrow_up.png) no-repeat 13px center !important;
			}
		}
		label {
			position: absolute;
			z-index: 2;
		}
		input {
			clear: left;
			background: #fff url(../img/form_background.jpg) repeat-x;
			width: 90.7%;
			line-height: 35px;
			height: 35px;
			font-family: "Soho Gothic W01 Regular", sans-serif;
			font-size: 20px;
			&#send_button {
				height: 65px;
				width: 100%;
				background: #2257A6 url(../img/ie7_arrow.png) no-repeat 670px center !important;
			}
		}
		p {
			float: left;
			width: 49%;
			background: #21B0D7;
			position: relative;
			z-index: 1;
		}
		p:nth-child(odd) {
			float: right;
		}
		.placeholder {
			font-family: 'Soho Gothic W01 Regular', unquote('sans-serif');
			padding: 0.7em 0 0 10px;
			float: left;
			position: absolute;
			z-index: 200;
		}
		legend {
			display: none;
			background: #21B0D7;
		}
		fieldset {
			background: #21B0D7;
			&#company_details {
				p:nth-child(2) {
					input {
						width: 44.5%;
					}
				}
				p:nth-child(5) {
					z-index: 800;
				}
			}
		}

		textarea {
			background: #fff url(../img/form_background.jpg) repeat-x;
			z-index: -1;
			position: relative;
			line-height: 35px;
			width: 94.5%;
			font-family: "Soho Gothic W01 Regular", sans-serif;
			font-size: 20px;
		}

	}
}

#about_us {
	p {
		&.to_top_link {
			a {
				background: #0578BD url(../img/to_top_2.gif) no-repeat 85% center;
			}
		}
	}
}

#employees {
	p {
		&.to_top_link {
			a {
				background: #fff url(../img/to_top_3.gif) no-repeat 85% center;
			}
		}
	}
}