#elevator_pitch {
	#slideshow_nav {
		li {
			&.current {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

#pricing {
	li {
		p.button {
			a {
				filter: progid:DXImageTransform.Microsoft.Shadow(Color=#007d9b, Strength=5, Direction=180) !important;
				&:hover {
					filter: progid:DXImageTransform.Microsoft.Shadow(Color=#007d9b, Strength=3, Direction=180) !important;
				}
			}
		}
		&#standard_turtle {
			p.button {
				a {
					&:after {
						display: none !important;
					}
					.ie8_icon {
						position: absolute;
					    font-weight: 700;
					    font-size: 1.25em;
					    font-family: 'Soho Gothic W01 Bold', unquote('sans-serif');
					    right: 0.7em;
					    top: 1em;
					    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
					}
				}
			}
		}
	}
}
#contact_form {
	form {
		.sbToggle {
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
			margin: 2px 0 0 0;
		}
		input, textarea {
			background: #fff url(../img/form_background.jpg) repeat-x;
		}
	}
}

.to_top_link {
	a {
		&:after {
			display: none;
		}
		.ie8_icon {
			position: absolute;
			right: 1.5em;
			top: 0.9em;
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		}
	}
}