/* line 1, ../sass/ie7.scss */
header[role="banner"] {
  padding: 0 0 66px 0;
}

/* line 8, ../sass/ie7.scss */
#elevator_pitch header h1 em {
  font-style: normal;
}

/* line 18, ../sass/ie7.scss */
#pricing li p.button a {
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#007d9b, Strength=5, Direction=180) !important;
  background: #333333 url(../img/ie7_arrow.png) no-repeat 310px center !important;
}
/* line 21, ../sass/ie7.scss */
#pricing li p.button a:hover {
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#007d9b, Strength=3, Direction=180) !important;
}
/* line 28, ../sass/ie7.scss */
#pricing li#standard_turtle p.button a {
  background: #2257a6 url(../img/ie7_arrow_down.png) no-repeat 300px center !important;
}

/* line 37, ../sass/ie7.scss */
#contact_form > p {
  border: 0;
}
/* line 40, ../sass/ie7.scss */
#contact_form > p.to_top_link a {
  background: #2257a6 url(../img/to_top_1.gif) no-repeat 85% center;
}
/* line 45, ../sass/ie7.scss */
#contact_form form {
  border: 0;
  border: 0;
}
/* line 48, ../sass/ie7.scss */
#contact_form form .sbHolder {
  z-index: 500;
}
/* line 51, ../sass/ie7.scss */
#contact_form form .sbSelector {
  width: 90.7%;
  background: white url(../img/form_background.jpg) repeat-x;
  line-height: 35px;
  height: 35px;
}
/* line 57, ../sass/ie7.scss */
#contact_form form .sbToggle {
  height: 36px;
  width: 25px;
  background: #0578bd url(../img/ie7_arrow_down.png) no-repeat 13px center !important;
}
/* line 61, ../sass/ie7.scss */
#contact_form form .sbToggle.sbToggleOpen {
  background: #0578bd url(../img/ie7_arrow_up.png) no-repeat 13px center !important;
}
/* line 65, ../sass/ie7.scss */
#contact_form form label {
  position: absolute;
  z-index: 2;
}
/* line 69, ../sass/ie7.scss */
#contact_form form input {
  clear: left;
  background: white url(../img/form_background.jpg) repeat-x;
  width: 90.7%;
  line-height: 35px;
  height: 35px;
  font-family: "Soho Gothic W01 Regular", sans-serif;
  font-size: 20px;
}
/* line 77, ../sass/ie7.scss */
#contact_form form input#send_button {
  height: 65px;
  width: 100%;
  background: #2257a6 url(../img/ie7_arrow.png) no-repeat 670px center !important;
}
/* line 83, ../sass/ie7.scss */
#contact_form form p {
  float: left;
  width: 49%;
  background: #21B0D7;
  position: relative;
  z-index: 1;
}
/* line 90, ../sass/ie7.scss */
#contact_form form p:nth-child(odd) {
  float: right;
}
/* line 93, ../sass/ie7.scss */
#contact_form form .placeholder {
  font-family: "Soho Gothic W01 Regular", sans-serif;
  padding: 0.7em 0 0 10px;
  float: left;
  position: absolute;
  z-index: 200;
}
/* line 100, ../sass/ie7.scss */
#contact_form form legend {
  display: none;
  background: #21B0D7;
}
/* line 104, ../sass/ie7.scss */
#contact_form form fieldset {
  background: #21B0D7;
}
/* line 108, ../sass/ie7.scss */
#contact_form form fieldset#company_details p:nth-child(2) input {
  width: 44.5%;
}
/* line 112, ../sass/ie7.scss */
#contact_form form fieldset#company_details p:nth-child(5) {
  z-index: 800;
}
/* line 118, ../sass/ie7.scss */
#contact_form form textarea {
  background: white url(../img/form_background.jpg) repeat-x;
  z-index: -1;
  position: relative;
  line-height: 35px;
  width: 94.5%;
  font-family: "Soho Gothic W01 Regular", sans-serif;
  font-size: 20px;
}

/* line 134, ../sass/ie7.scss */
#about_us p.to_top_link a {
  background: #0578bd url(../img/to_top_2.gif) no-repeat 85% center;
}

/* line 144, ../sass/ie7.scss */
#employees p.to_top_link a {
  background: white url(../img/to_top_3.gif) no-repeat 85% center;
}
