/* line 2, ../sass/print.scss */
body, #content, #container {
  width: 100%;
  margin: 0;
  float: none;
  background: white url(none);
}

/* line 10, ../sass/print.scss */
body {
  font: 1em Georgia, "Times New Roman", Times, serif;
  color: #000;
}

/* line 16, ../sass/print.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

/* line 20, ../sass/print.scss */
h1 {
  font-size: 250%;
}

/* line 21, ../sass/print.scss */
h2 {
  font-size: 175%;
}

/* line 22, ../sass/print.scss */
h3 {
  font-size: 135%;
}

/* line 23, ../sass/print.scss */
h4 {
  font-size: 100%;
  font-variant: small-caps;
}

/* line 24, ../sass/print.scss */
h5 {
  font-size: 100%;
}

/* line 25, ../sass/print.scss */
h6 {
  font-size: 90%;
  font-style: italic;
}

/* line 28, ../sass/print.scss */
a:link, a:visited {
  color: #00c;
  font-weight: bold;
  text-decoration: underline;
}

/* line 32, ../sass/print.scss */
#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
}

/* line 36, ../sass/print.scss */
nav {
  display: none;
}

/* line 41, ../sass/print.scss */
#slideshow {
  display: none;
}

/* line 45, ../sass/print.scss */
#contact_form form {
  display: none;
}
